<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" data-toggle="btn-toggle">
            <button type="button" class="btn btn-primary" ng-model="logs.filters.debug"
                    btn-checkbox title="Debug" >
                <i class="fa fa-bug"></i>
            </button>
            <button type="button" class="btn btn-info" ng-model="logs.filters.info"
                    btn-checkbox title="Info" >
                <i class=" fa fa-info-circle"></i>
            </button>
            <button type="button" class="btn btn-warning" ng-model="logs.filters.warn"
                    btn-checkbox title="Warn" >
                <i class=" fa fa-exclamation-triangle"></i>
            </button>
            <button type="button" class="btn btn-danger" ng-model="logs.filters.error"
                    btn-checkbox title="Error" >
                <i class=" fa fa-times-circle"></i>
            </button>
        </div>
        <pre>{{logs.filters | json}}</pre>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li dir-paginate="log in logs.items | itemsPerPage: 5">
                <pre>{{ log | json}}</pre>
            </li>
        </ul>
        <dir-pagination-controls template-url="logs/log.tpl.html"></dir-pagination-controls>
    </div>
</div>
<pre>{{logs | json}}</pre>



