<div class="row" ng-repeat="tenant in dashboard.tenants">
    <div class="col-xs-12">
        <h3>Tenant: {{tenant}}</h3>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    &nbsp; {{ dashboard.stats[tenant].documents }}
                </h3>
                <p>
                    Documents
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-document-text"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    &nbsp; {{dashboard.stats[tenant].handles}}
                </h3>
                <p>
                    Document handles
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-at"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    &nbsp; {{dashboard.stats[tenant].files}}
                </h3>
                <p>
                    Files (documents  + formats)
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-document"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    &nbsp; {{dashboard.stats[tenant].docBytes | fileSize}}
                </h3>
                <p>
                    Documents size
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3">Triggers</th>
                </tr>
                <tr>
                    <th>
                        Status
                    </th>
                    <th>
                        Group
                    </th>
                    <th>
                        Count
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in dashboard.triggers">
                    <td>{{t.status}}</td>
                    <td>{{t.group}}</td>
                    <td>{{t.count}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total </th>
                    <td>&nbsp;</td>
                    <th>{{dashboard.totTriggers}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div><!-- /.row -->