{
	"nes-engine-version" : "%nes-engine-version%",
    "enable-snapshot-cache" : "%enable-snapshot-cache%",
    "enable-single-aggregate-repository-cache" : "%enable-single-aggregate-repository-cache%",
    "disable-lock-on-aggregate-id" : "%disable-lock-on-aggregate-id%",
    "storageType" : "%storage.type%",
    "storage" : "%{storage}%",
    "api-bindings": [
        "http://+:%listeningPort%"
    ],
    "deduplication-active": true,
    "restricted-allowed-file-types": "%restricted-allowed-file-types%",
    "allowed-file-types": "%allowed-file-types%",
    "rebuild": "%rebuild%",
    "engine-slots": "%engine-slots%",
    "nitro-mode": "%nitro-mode%",
    "poller-buckets" : "%poller-buckets%",
    "polling-interval-ms": 1000,
    "poller-delayed-start": 2000,
    "days-before-cleanup": 15,
    "engine-multithread": true,
    "memory-collect-seconds": 0,
    "meters": {
        "enabled" : true,
    },
    "roles": {
        "api": "%roles.api%",
        "worker": "%roles.worker%",
        "projections": "%roles.projections%",
        "queueManager": "%roles.queueManager%",
        "jobMode": "%roles.jobMode%"
    },
    "jobsManagement": {
        "windowVisible": "%jobsManagement.windowVisible%"
    },
    "queues": {
        "stream-poll-interval-ms": 1000,
        "jobs-poll-interval-ms": 1000,
        "list": [{
            //Tika wants every format except if it comes from office pipeline
            "name": "tika",
            //"pipeline" : "^(?!office$).*"
            "pipeline": "original", //htmlZip pipeline generates pdf from zip.
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%tika\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //office pipeline accepts a predetermined set of extension
            "name": "office",
            "extensions": "xls|xlsx|docx|doc|ppt|pptx|pps|ppsx|rtf|odt|ods|odp",
            "maxNumberOfFailure": 3,
            "JobLockTimeout": 2,
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%msoffice\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //email pipeline accepts a predetermined set of extension
            "name": "email",
            "extensions": "eml|msg",
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%email\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //htmlzip pipeline convert html, htmlzipped, MIME Html to pdf.
            "name": "htmlzip",
			"pipeline" : "^(?!tika$).*", //it is important to exclude output of tika to be further converted in pdf.
            "extensions": "htmlzip|ezip|html|htm|mht|mhtml",
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%htmlzipOld\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //resize image pipeline accepts every format of extension image
            "name": "imgResize",
            "pipeline": "^(?!img$).*", //avoid recursion.
            //"extensions": "png|jpg|gif|jpeg|bmp",
            "formats" : "rasterimage",
            "parameters": {
                "thumb_format": "%jobs.imgResize.thumb-format%",
                "sizes": "small:200x200|large:800x800"
            },
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%imageresizer\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //pdfThumbnail pipeline accepts every format of extension pdf
            "name": "pdfThumb",
            "extensions": "pdf",
            "parameters": {
                "thumb_format": "png"
            },
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%pdfthumbnails\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //Attachment pipeline
            "name": "attachments",
			"extensions": "7zip|7z|rar",
            "mimeTypes": "application/zip|message/rfc822|application/vnd.ms-outlook",
            "parameters": {
                "extensions": "txt|pdf|xls|xlsx|docx|doc|ppt|pptx|pps|ppsx|rtf|odt|ods|odp|htmlzip|eml|msg|zip|jpg|gif|bmp|7zip|rar|7z|webm|mkv|flv|flv|vob|ogv|ogg|drc|mng|avi|mov|qt|wmv|yuv|rm|rmvb|asf|mp4|m4p|m4v|mpg|mp2|mpeg|mpe|mpv|mpg|mpeg|m2v|m4v|svi|3gp|3g2|mxf|roq|nsv"
            },
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%attachments\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //pdf converter manage every format but it should be original pipeline
            "name": "pdfConverter",
            "pipeline": "original", 
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%pdfConverter\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }, {
            //pdf composer react not to a pipeline but jobs are created only from external commands
            "name": "pdfComposer", 
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%pdfComposer\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        },  {
            //Video pipeline accepts every format of video extension
            "name": "videoThumb",
            "extensions": "webm|mkv|flv|flv|vob|ogv|ogg|drc|mng|avi|mov|qt|wmv|yuv|rm|rmvb|asf|mp4|m4p|m4v|mpg|mp2|mpeg|mpe|mpv|mpg|mpeg|m2v|m4v|svi|3gp|3g2|mxf|roq|nsv",
            "parameters": {
                "thumb_format": "png",
				"thumb_seconds_offset" : 5
            },
            "pollersInfo": [{
                "name": "OutOfProcessBaseJobManager",
                'parameters': {
                    'location': '%jobs.location%videothumbnails\\Jarvis.DocumentStore.JobsHost.exe'
                }
            }]
        }]
    },
    "tenants": "%{tenants}%",
    "connectionStrings": "%{connectionStrings}%",
    "file-queue": ["%file-queue%"]
}