{
    "api-bindings": [ 
        "http://machine_name:5123",
        "http://localhost:5123",
        "http://127.0.0.1:5123",
    ],
	"deduplication-active" : true,
	"allowed-file-types" : "pdf|xls|xlsx|docx|doc|ppt|pptx|pps|ppsx|rtf|odt|ods|odp|htmlzip|eml|msg|jpeg|jpg|png|zip",
	"rebuild" : false,
	"engine-slots" : "*",
	"nitro-mode" : false,
	"polling-interval-ms" : 1000,
	"poller-delayed-start" : 2000,
	"days-before-cleanup" : 15,
	"engine-multithread" : true,
	"memory-collect-seconds" : 0,

    "meters": { 
        "http-endpoint" : "http://+:55558/"
    },
    "roles": {
        "api": true,
        "worker": true,
        "projections": true,
        "queueManager": true,
        "jobMode": "queue"
    },
    "jobsManagement": {
        "windowVisible": true
    },
    "queues": {
        "stream-poll-interval-ms": 1000,
        "jobs-poll-interval-ms": 1000,
        "list": [
            {
                //Tika wants every format except if it comes from office pipeline
                "name": "tika",
                //"pipeline" : "^(?!office$).*"
                "pipeline": "original|htmlzip", //htmlZip pipeline generates pdf from zip.
                "pollersInfo": [
                    {
                        "name": "OutOfProcessBaseJobManager",
                        'parameters': {
                            'location': '..\\..\\..\\..\\artifacts\\jobs\\tika\\Jarvis.DocumentStore.JobsHost.exe'
                        }
                    }
                ]
            },
            {
                //office pipeline accepts a predetermined set of extension
                "name": "office",
                "extensions": "xls|xlsx|docx|doc|ppt|pptx|pps|ppsx|rtf|odt|ods|odp",
                "maxNumberOfFailure": 3,
                "JobLockTimeout": 2,
                "pollersInfo": [
                    {
                        "name": "OutOfProcessBaseJobManager",
                        'parameters': {
                            'location': '..\\..\\..\\..\\artifacts\\jobs\\libreoffice\\Jarvis.DocumentStore.JobsHost.exe'
                        }
                    }
                ]
            },
            {
                //email pipeline accepts a predetermined set of extension
                "name": "email",
                "extensions": "eml|msg",
                "pollersInfo": [
                    {
                        "name": "OutOfProcessBaseJobManager",
                        'parameters': {
                            'location': '..\\..\\..\\..\\artifacts\\jobs\\email\\Jarvis.DocumentStore.JobsHost.exe'
                        }
                    }
                ]
            },
            {
                //htmlzip pipeline accepts a predetermined set of extension
                "name": "htmlzip",
                "extensions": "htmlzip|ezip",
                "pollersInfo": [
                    {
                        "name": "OutOfProcessBaseJobManager",
                        'parameters': {
                            'location': '..\\..\\..\\..\\artifacts\\jobs\\htmlzipOld\\Jarvis.DocumentStore.JobsHost.exe'
                        }
                    }
                ]
            },
            {
                //resize image pipeline accepts every format of extension pdf
                "name": "imgResize",
                "pipeline": "^(?!img$).*", //avoid recursion.
                "extensions": "png|jpg|gif|jpeg",
                "parameters": {
                    "thumb_format": "png",
                    "sizes": "small:200x200|large:800x800"
                },
                "pollersInfo": [
                    {
                        "name": "OutOfProcessBaseJobManager",
                        'parameters': {
                            'location': '..\\..\\..\\..\\artifacts\\jobs\\imageresizer\\Jarvis.DocumentStore.JobsHost.exe'
                        }
                    }
                ]
            },
            {
                //pdfThumbnail pipeline accepts every format of extension pdf
                "name": "pdfThumb",
                "extensions": "pdf",
                "parameters": {
                    "thumb_format": "png"
                },
                "pollersInfo": [
                    {
                        "name": "OutOfProcessBaseJobManager",
                        'parameters': {
                            'location': '..\\..\\..\\..\\artifacts\\jobs\\pdfthumbnails\\Jarvis.DocumentStore.JobsHost.exe'
                        }
                    }
                ]
            },
            {
                //Attachment pipeline
                "name": "attachments",
                "mimeTypes": "application/zip|message/rfc822|application/vnd.ms-outlook",
				"parameters": {
                    "extensions": "pdf|xls|xlsx|docx|doc|ppt|pptx|pps|ppsx|rtf|odt|ods|odp|htmlzip|eml|msg|zip"
                },
                "pollersInfo": [
                    {
                        "name": "OutOfProcessBaseJobManager",
                        'parameters': {
                            'location': '..\\..\\..\\..\\artifacts\\jobs\\attachments\\Jarvis.DocumentStore.JobsHost.exe'
                        }
                    }
                ]
            }
        ]
    },
    "tenants": [ "docs", "demo" ],
    "connectionStrings": {
        "ds-queues": "mongodb://localhost/ds-queues",
		"ds-logs" : "mongodb://localhost/ds-logs",
        "docs": {
            "originals": "mongodb://localhost/ds-docs-ori-fs",
            "artifacts": "mongodb://localhost/ds-docs-art-fs",
            "system": "mongodb://localhost/ds-docs",
            "events": "mongodb://localhost/ds-docs",
            "readmodel": "mongodb://localhost/ds-docs"
        },
        "demo": {
            "originals": "mongodb://localhost/ds-demo-ori-fs",
            "artifacts": "mongodb://localhost/ds-demo-art-fs",
            "system": "mongodb://localhost/ds-demo",
            "events": "mongodb://localhost/ds-demo",
            "readmodel": "mongodb://localhost/ds-demo"
        }
    }
}