{
	roles: {
    api : true,
    worker : false,
    projections: true
  },
  tenants: ["tests"],
	connectionStrings : {
		"ds-quartz" : "mongodb://localhost/ds-tests-quartz",

		"tests" : {
			"filestore" : "mongodb://localhost/ds-tests-fs",
			"system" : "mongodb://localhost/ds-tests-sys",
			"events" : "mongodb://localhost/ds-tests-events",
			"readmodel" : "mongodb://localhost/ds-tests-rm",
		}
	}
}