{
    "roles": {
        "api": true,
        "worker": true,
        "projections": true
    },
    "tenants": ["docs", "demo"],
    "connectionStrings": {
        "ds-quartz": "mongodb://localhost/ds-quartz",
        "docs": {
            "originals": "mongodb://localhost/ds-docs-ori-fs",
            "artifacts": "mongodb://localhost/ds-docs-art-fs",
            "system": "mongodb://localhost/ds-docs",
            "events": "mongodb://localhost/ds-docs",
            "readmodel": "mongodb://localhost/ds-docs"
        },
        "demo": {
            "originals": "mongodb://localhost/ds-demo-ori-fs",
            "artifacts": "mongodb://localhost/ds-demo-art-fs",
            "system": "mongodb://localhost/ds-demo",
            "events": "mongodb://localhost/ds-demo",
            "readmodel": "mongodb://localhost/ds-demo"
        }
    }
}