<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="INFO"/>
    <appender-ref ref="ColoredConsoleAppender"/>
    <appender-ref ref="mongo-appender"/>
	<appender-ref ref="RollingFile" />
	<appender-ref ref="udp-appender" />
  </root>
  <logger name="Topshelf" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ColoredConsoleAppender" />
  </logger>
  <logger name="Rebus" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ColoredConsoleAppender" />
  </logger>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs\service.log"/>
    <appendToFile value="true"/>
	<threshold value="ERROR" />
    <rollingStyle value="Composite"/>
    <datePattern value="yyyyMMdd"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %-8ndc %-5thread %-5level %logger %message %n"/>
    </layout>
  </appender>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR"/>
      <foreColor value="Red, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="DEBUG"/>
      <foreColor value="White"/>
      <backColor value="Blue"/>
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %logger [%-5thread] - %message%newline"/>
    </layout>
	<threshold value="DEBUG"/>
  </appender>
  <appender name="mongo-appender" type="Jarvis.Framework.MongoAppender.BufferedMongoDBAppender, Jarvis.Framework.MongoAppender">
    <settings>
      <connectionString value="mongodb://avalance,typhoon,earthquake/ds-logs" />
      <collectionName value="logs" />
      <expireAfter>
        <days value="5"/>
      </expireAfter>
    </settings>
  </appender>
   <appender name="udp-appender" type="Jarvis.Framework.UdpAppender.UdpAppender, Jarvis.Framework.UdpAppender">		
    <param name="RemoteAddress" value="127.0.0.2" />		
    <param name="RemotePort" value="8080" />		
    <layout type="log4net.Layout.XmlLayout">		
      <param name="Prefix" value="" />		
    </layout>		
  </appender>
</log4net>