<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    
    <!--
    You need to create a configuration file called MsGraphOfficeToPfd.config
    in a parent directory with OAuth2 application secret data
    
    Example:
    {
      "TenantId": "",
      "ClientId": "",
      "ClientSecret": "",
      "SiteId": "xxxxxxx.sharepoint.com,xxxxxx-xxxx-xxxx-xxxxxxxxxxxx,xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    }
    
    also include static and not about to change configurations
    "Endpoint": "https://login.microsoftonline.com/",
    "GrantType": "client_credentials",
    "Scope": "Files.ReadWrite.All",
    "Resource": "https://graph.microsoft.com",
    "GraphEndpoint": "https://graph.microsoft.com/beta/",

    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>