<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Core-log4net" version="3.3.3" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor-log4net" version="3.3.0" targetFramework="net45" />
  <package id="GraphicsMagick.NET-Q8-x86" version="1.3.20.2" targetFramework="net45" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net45" />
  <package id="IvanAkcheurov.NTextCat.Lib" version="0.2.1.1" targetFramework="net45" />
  <package id="Jarvis.ConfigurationService.Client" version="1.1.94" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="MSGReader" version="1.7.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="TikaOnDotNet" version="1.6.3" targetFramework="net45" />
  <package id="TuesPechkin" version="1.0.3.0" targetFramework="net45" />
</packages>