<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.6.1" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" userInstalled="true" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" userInstalled="true" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net45" userInstalled="true" />
  <package id="IvanAkcheurov.NTextCat.Lib" version="0.2.1.1" targetFramework="net45" userInstalled="true" />
  <package id="Jarvis.Framework.MongoAppender2" version="1.1.29" targetFramework="net45" />
  <package id="Jarvis.Framework.UdpAppender" version="1.0.9" targetFramework="net45" userInstalled="true" />
  <package id="log4net" version="1.2.10" targetFramework="net45" userInstalled="true" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
  <package id="TikaOnDotNet" version="1.7.0" targetFramework="net45" userInstalled="true" />
</packages>