<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="neventstore" value="https://www.myget.org/F/neventstore-ci/api/v3/index.json" />
    <add key="jarvis" value="https://www.myget.org/F/jarvis/api/v3/index.json" />
    <add key="ProximoAzDo" value="https://pkgs.dev.azure.com/prxm/_packaging/Proximo@Local/nuget/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="neventstore" value="https://www.myget.org/F/neventstore-ci/api/v3/index.json" />
    <add key="jarvis" value="https://www.myget.org/F/jarvis/api/v3/index.json" />
    <add key="ProximoAzDo" value="https://pkgs.dev.azure.com/prxm/_packaging/Proximo@Local/nuget/v3/index.json" />
  </packageSources>
</configuration>