<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <!--
      For each tenant, we can specify a db to use as sync destination, for each tenant we need
      three strings named 
      tenantname-dest-ori and tenantname-dest-art to specify destination directory for original
      and artifacts blob.
      tenantname-dest-descriptors that contains connection string for descriptors if destination
      is FileSystem (remembner that even if blob files are in file system, binary descriptors
      are stored inside a database).
      
      IMPORTANT!!! YOU CANNOT USE THE VERY SAME INSTANCE FOR DESTINATION, TO AVOID ANY SOURCE OF 
      ERROR IN CONFIGURATION.
    -->
    <add key="tenants" value="docs,tickets,cad"/>
    
    <add key="eventStoreconnection-docs" value="mongodb://admin:123456##@localhost/ds-docs?authSource=admin" />
    <add key="eventStoreconnection-tickets" value="mongodb://admin:123456##@localhost/ds-tickets?authSource=admin" />
    <add key="eventStoreconnection-cad" value="mongodb://admin:123456##@localhost/ds-cad?authSource=admin" />
    
    <!--If you want to try to mount a remote network share with password remember commandline
    net use z: \\breton135\JarvisTST PASSWORD /USER:USER
    -->
    <add key="OriginalBlobConnection-docs" value="mongodb://admin:123456##@localhost/ds-docs-ori-fs?authSource=admin" />
    <add key="ArtifactBlobConnection-docs" value="mongodb://admin:123456##@localhost/ds-docs-art-fs?authSource=admin" />
    <add key="OriginalBlobConnection-tickets" value="mongodb://admin:123456##@localhost/ds-tickets-ori-fs?authSource=admin" />
    <add key="ArtifactBlobConnection-tickets" value="mongodb://admin:123456##@localhost/ds-tickets-art-fs?authSource=admin" />
    <add key="OriginalBlobConnection-cad" value="mongodb://admin:123456##@localhost/ds-cad-ori-fs?authSource=admin" />
    <add key="ArtifactBlobConnection-cad" value="mongodb://admin:123456##@localhost/ds-cad-art-fs?authSource=admin" />
    <add key="OriginalBlobConnection-demo" value="mongodb://admin:123456##@localhost/ds-demo-ori-fs?authSource=admin" />
    <add key="ArtifactBlobConnection-demo" value="mongodb://admin:123456##@localhost/ds-demo-art-fs?authSource=admin" />
    
    <add key="fileSystemStoreOriginal-docs" value="\\jvstsint.cyberpunk.local\DsStoreShare\Docs"/>
    <add key="fileSystemStoreOriginal-tickets" value="\\jvstsint.cyberpunk.DsStoreShare\Tickets"/>
    <add key="fileSystemStoreOriginal-cad" value="\\jvstsint.cyberpunk.local\DsStoreShare\Cad"/>
    <add key="fileSystemStoreOriginal-demo" value="\\jvstsint.cyberpunk.local\DsStoreShare\Demo"/>
    
    <add key="fileSystemStoreArtifacts-docs" value="\\jvstsint.cyberpunk.local\DsStoreShare\Docs\artifacts"/>
    <add key="fileSystemStoreArtifacts-tickets" value="\\jvstsint.cyberpunk.local\DsStoreShare\Tickets\artifacts"/>
    <add key="fileSystemStoreArtifacts-cad" value="\\jvstsint.cyberpunk.local\DsStoreShare\Cad\artifacts"/>
    <add key="fileSystemStoreArtifacts-demo" value="\\jvstsint.cyberpunk.local\DsStoreShare\Demo\artifacts" />
         
    <add key="fileSystemStoreDescriptors-docs" value="mongodb://admin:123456##@localhost/ds-docs-descriptors?authSource=admin"/>
    <add key="fileSystemStoreDescriptors-tickets" value="mongodb://admin:123456##@localhost/ds-tickets-descriptors?authSource=admin"/>
    <add key="fileSystemStoreDescriptors-cad" value="mongodb://admin:123456##@localhost/ds-cad-descriptors?authSource=admin"/>
    <add key="fileSystemStoreDescriptors-demo" value="mongodb://admin:123456##@localhost/ds-demo-descriptors?authSource=admin"/>
    
    <add key="fileSystemStoreUserName" value="jvstsint\dstore"/>
    <add key="fileSystemStorePassword" value="DsStore_pwD$BahBAh"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>