{
	"secondary-document-store-address" : "",
    "enable-snapshot-cache" : true,
    "enable-single-aggregate-repository-cache" : false,
	"disable-lock-on-aggregate-id" : false,
    "nes-engine-version" : "v3",
	"jobs" : 
	{
		"imgResize" : 
		{ 
			"thumb-format" : "png" 
		}
	},
	"extra-allowed-ip-array" : [],
	"get-only-ip-array" : []
}