{
	"enable-snapshot-cache" : true,
    "enable-single-aggregate-repository-cache" : false,
	"disable-lock-on-aggregate-id" : false,
	"baseConnectionString" : "mongodb://localhost/ds",
	"nes-engine-version" : "v3",
	"tenants": ["docs", "demo"],
	"storage" : {
		"type" : "FileSystem", //"type" : "GridFs"
		"fileSystem" : {
			"username" : "domain\username",
			"password" : "the password",
			"docs-originals-baseDirectory" : "z:\\temp\\docs",
			"docs-artifacts-baseDirectory" : "z:\\temp\\docs\\artifacts",
			"tickets-originals-baseDirectory" : "z:\\temp\\docs",
			"tickets-artifacts-baseDirectory" : "z:\\temp\\docs\\artifacts"
		}
	},
    "connectionStrings": {
        "ds-queues": "%baseConnectionString%-queues",
        "ds-logs": "%baseConnectionString%-logs",
        "docs": {
            "originals": "%baseConnectionString%-docs-ori-fs",
            "artifacts": "%baseConnectionString%-docs-art-fs",
            "system": "%baseConnectionString%-docs",
            "events": "%baseConnectionString%-docs",
            "readmodel": "%baseConnectionString%-docs"
        },
        "demo": {
            "originals": "%baseConnectionString%-demo-ori-fs",
            "artifacts": "%baseConnectionString%-demo-art-fs",
            "system": "%baseConnectionString%-demo",
            "events": "%baseConnectionString%-demo",
            "readmodel": "%baseConnectionString%-demo"
        }
    },
	
	"listeningPort" : "5123",
	"rebuild" : false,
	"engine-slots" : "*",
	"allowed-file-types"  : "*",
	"nitro-mode" : "false",
	"poller-buckets" : [
		{
			'slots' : '*',
			'buffer' : 10000
		}
	],
	"restricted-allowed-file-types": "pdf|xls|xlsx|docx|doc|ppt|pptx|pps|ppsx|rtf|odt|ods|odp|htmlzip|eml|msg|jpeg|jpg|png|zip",
	"file-queue" : "c:\\temp\\dsqueue\\",
	"jobs" : 
	{
		"location" : "..\\..\\..\\..\\artifacts\\jobs\\",
		"imgResize" : 
		{ 
			"thumb-format" : "png" 
		}
	},
	
	"roles": {
        "api": "true",
        "worker": "true",
        "projections": "true",
        "queueManager": "true",
        "jobMode": "queue"
    },
	
	"jobsManagement": {
        "windowVisible": true
    },
	"log4net" : 
	{
		"appender-mongo" : "<appender-ref ref=\"mongo-appender\"/>",
		"loglevel" : "DEBUG",
		"mongo-loglevel" : "INFO",
		"console-loglevel" : "DEBUG",
		"mongo-connection-string" : "mongodb://localhost/ds-logs",
		"mongo-collection-name" : "logs"
	}
}